<form [formGroup]="form">

  <h2 mat-dialog-title>Add stock to portfolio</h2>

  <mat-dialog-content class="mat-typography" style="display: flex; flex-direction: column;">
    <mat-form-field appearance="fill">
      <mat-label>Stock ticker</mat-label>
      <input matInput formControlName="ticker">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Average purchase price</mat-label>
      <input matInput formControlName="avgPrice">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Add</button>
  </mat-dialog-actions>

</form>