<div class="mat-elevation-z8" *ngIf="!!ticker">
  <form [formGroup]="form" *ngIf="!selection?.selected?.length"
    style="display: flex; justify-content: flex-end; flex-direction: row;">

    <mat-form-field class="override" appearance="fill">
      <mat-label>Series type</mat-label>
      <mat-select [formControlName]="'seriesType'">
        <mat-option *ngFor="let type of seriesType" [value]="type">
          {{type.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="override" appearance="fill">
      <mat-label>Trendline type</mat-label>
      <mat-select [formControlName]="'trendlineType'">
        <mat-option *ngFor="let type of trendlineType" [value]="type">
          {{type.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="override" appearance="fill">
      <mat-label>Period</mat-label>
      <mat-select [formControlName]="'period'">
        <mat-option *ngFor="let period of periods" [value]="period">
          {{period.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <ejs-stockchart id="chart-container" [border]="{ width: 0 }" [crosshair]='{ enable: true }'
    [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [theme]="theme ? 'MaterialDark' : 'Material'"
    selectionMode="Series">
    <e-stockchart-series-collection>
      <e-stockchart-series [dataSource]="stockChartData" [type]="form.get('seriesType').value.value"
        [enableSolidCandles]="getSolidCandles()" xName="date" High="high" Low="low" Open="open"
        [marker]='{ visible: true }' Close="close" Name="Apple">
        <e-trendlines>
          <e-trendline [visible]="form.get('trendlineType').value.value !== TrendlineType.None"
            [type]="form.get('trendlineType').value.value" width=3 fill='#C64A75'>
          </e-trendline>
        </e-trendlines>
      </e-stockchart-series>
    </e-stockchart-series-collection>
  </ejs-stockchart>
</div>