<div class="mat-app-background" style="height: 100%; width: 100%;display: flex; flex-direction: column;">
  <mat-toolbar color="primary" style="display: flex; justify-content: space-between">
    <div style="flex: 1 1 auto">Stock dashboard</div>

    <div style="display: flex; flex-direction: row; align-items: center;">
      <button mat-raised-button color="accent" (click)="openAddEditStockDialog()" style="margin-right: 15px;">Add stock</button>
      <mat-icon color="accent">brightness_5</mat-icon>
      <mat-slide-toggle (change)="darkModeToggle($event)" [checked]="darkMode.darkMode" style="margin: 0 10px;">
      </mat-slide-toggle>
      <mat-icon color="accent">bedtime</mat-icon>
    </div>
  </mat-toolbar>

  <div style="margin: 15px;">

    <app-stock-list  [stocks]="stocks" (updateStockList)="getStocks($event)"
      (editStock)="openAddEditStockDialog(false, $event)"></app-stock-list>
  </div>
</div>