<div class="mat-app-background" style="height: 100%; width: 100%;display: flex; flex-direction: column;">
  <mat-toolbar color="primary" style="display: flex; justify-content: space-between">
    <div style="flex: 1 1 auto">Stock Dashboard</div>

    <div style="display: flex;">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle (change)="darkModeToggle($event)" style="margin: 0 10px;"></mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </div>
  </mat-toolbar>

  <hello name=" Bob Boberton"></hello>

  <button mat-raised-button color="primary" (click)="openAddStock()">Add stock</button>
</div>